/* @media screen and (min-width: 1920px) { */

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.cabecalho__imagem{
    width: 150px;
}

.lista__menu{
    display: flex;
    text-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.lista__menu__item{
    margin: -1em;
    padding: 3em 4em;
}

.lista__menu__link{
    text-decoration: none;
    color: white;
    position: relative;
}



.lista__menu__imagem {
    margin: 0 1em 0 1em;
    width: 40%;
}

.lista__menu__imagem-dois{
    margin: 0 1em 0 1em;
    width: 45%;
}

.lista__menu__link:hover{
    color: #58ff2a;
   
}

.lista__menu__link::before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #58ff2a;
    transition: all .5s;
}

.lista__menu__link:hover::before{
    width: 100%;

}












/* } */
























/* .cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../img/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
} */

/* .container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url(../img/Menu\ Aberto.svg);
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho{
    background: linear-gradient(99deg, rgba(0,0,0,1) 27%, rgba(14,14,14,1) 85%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
    
}

.container__imagem{
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color:var(--branco);
}

.lista-menu__titulo {
    color: white;
    font-weight: 700;
}

.lista-menu__link {
    background: white;
    text-transform: uppercase;
}

.container__botao{
    display: none;
}

.container__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}


@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-dois);
        font-size: 30px;
    }
    .container__titulo{
        display: block;
        font-weight: 400;
    }

    .container__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
        font-family: var(--fonte-dois);
    }
    
    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--preto);

    }

    .container__imagem-transparente{
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
        color: var(--branco);
        background: var(--azul-degrade);
    }

    .opcoes__item{
        padding: 2em 1em;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1920px) {
    .cabecalho{
        padding: 0 2em;
        color: white;
    }

    .container{
        padding-right: 2em;
    }

    .container__texto{
        display: block;
    }

    .container__link{      
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
        color: #000000;
    }

    .opcoes{
        margin-right: auto;
        color: white;
    }

    .lista-menu{
        color: white;
    }

    .lista-menu__link{
        color: whit;
    }

    .container__titulo{
        display: block;
        color: white;
    }

 
} */